Repository fastwaterbear/tezospayments, pull requests merged in 2022-02, with the labels that each got.

#103 Add documentation
  apps/docs/docs/user-guides/accept-a-donation.md
  apps/docs/docs/user-guides/accept-a-payment.md
  apps/docs/docs/user-guides/dashboard/analytics.md
  apps/docs/docs/user-guides/dashboard/create-a-payment.md
  apps/docs/docs/user-guides/dashboard/overview.md
  apps/docs/docs/user-guides/dashboard/working-with-services.md
  apps/docs/docs/user-guides/introduction.md
  apps/docs/docs/user-guides/make-a-donation.md
  apps/docs/docs/user-guides/make-a-payment.md
  apps/docs/docs/user-guides/pay-a-donation.md
  apps/docs/docs/user-guides/pay-a-payment.md
Labels: area: texts, area: app: docs

#104 Reorganize namespaces in the .NET package
  apps/DemoShopAspNet/Pages/Index.cshtml.cs
  packages/dotnet/TezosPayments.Tests/DependencyInjection/DefaultTezosPaymentsTests.cs
  packages/dotnet/TezosPayments.Tests/DependencyInjection/NamedTezosPaymentsTests.cs
  packages/dotnet/TezosPayments.Tests/PaymentTestCases.cs
  packages/dotnet/TezosPayments.Tests/TestHelpers/TestPayment.cs
  packages/dotnet/TezosPayments.Tests/TezosPaymentsTests.cs
  packages/dotnet/TezosPayments/Constants.cs
  packages/dotnet/TezosPayments/DependencyInjection/Converters/ITezosNetworkOptionsConverter.cs
  packages/dotnet/TezosPayments/DependencyInjection/Converters/TezosNetworkOptionsConverter.cs
  packages/dotnet/TezosPayments/DependencyInjection/Extensions/TezosPaymentsServiceCollectionExtensions.Factories.cs
  packages/dotnet/TezosPayments/DependencyInjection/Extensions/TezosPaymentsServiceCollectionExtensions.Named.cs
  packages/dotnet/TezosPayments/DependencyInjection/Extensions/TezosPaymentsServiceCollectionExtensions.cs
  packages/dotnet/TezosPayments/DependencyInjection/ITezosPaymentsProvider.cs
  packages/dotnet/TezosPayments/DependencyInjection/TezosPaymentsOptions.cs
  packages/dotnet/TezosPayments/DependencyInjection/TezosPaymentsProvider.cs
  packages/dotnet/TezosPayments/ITezosPaymentsClient.cs
  packages/dotnet/TezosPayments/Models/IPayment.cs
  packages/dotnet/TezosPayments/Models/Network.cs
  packages/dotnet/TezosPayments/Models/Payment.IPayment.cs
  packages/dotnet/TezosPayments/Models/Payment.Internal.cs
  packages/dotnet/TezosPayments/Models/Payment.cs
  packages/dotnet/TezosPayments/Models/PaymentAsset.cs
  packages/dotnet/TezosPayments/Models/PaymentCreateParameters.cs
  packages/dotnet/TezosPayments/Models/PaymentSignature.cs
  packages/dotnet/TezosPayments/Models/PaymentUrlType.cs
  packages/dotnet/TezosPayments/Models/SigningType.cs
  packages/dotnet/TezosPayments/Options/DefaultPaymentParameters.cs
  packages/dotnet/TezosPayments/Options/IDefaultPaymentParameters.cs
  packages/dotnet/TezosPayments/Options/TezosPaymentsDefaultOptions.cs
  packages/dotnet/TezosPayments/PaymentUrlFactories/Base64PaymentUrlFactory.cs
  packages/dotnet/TezosPayments/PaymentUrlFactories/IPaymentUrlFactory.cs
  packages/dotnet/TezosPayments/PaymentUrlFactories/IPaymentUrlFactoryProvider.cs
  packages/dotnet/TezosPayments/PaymentUrlFactories/ProxyPaymentUrlFactoryProvider.cs
  packages/dotnet/TezosPayments/Serialization/Base64JsonPaymentSerializer.cs
  packages/dotnet/TezosPayments/Serialization/IPaymentSerializer.cs
  packages/dotnet/TezosPayments/Serialization/JsonPaymentSerializer.cs
  packages/dotnet/TezosPayments/Signing/SignPayloadEncoding/IPaymentSignPayloadEncoder.cs
  packages/dotnet/TezosPayments/Signing/SignPayloadEncoding/PaymentSignPayloadEncoder.cs
  packages/dotnet/TezosPayments/Signing/Signers/ApiSecretKeyPaymentSigner.cs
  packages/dotnet/TezosPayments/Signing/Signers/IPaymentSigner.cs
  packages/dotnet/TezosPayments/TezosPayments.csproj
  packages/dotnet/TezosPayments/TezosPaymentsClient.cs
  packages/dotnet/TezosPayments/Validation/IPaymentValidator.cs
  packages/dotnet/TezosPayments/Validation/PaymentValidator.cs
Labels: layer: client:business, type: improvement, area: package: tezospayments [.net]

#106 Docs suggestions
  apps/docs/docs/developers/dotnet-package/generate-a-payment-link.md
  apps/docs/docs/developers/dotnet-package/set-up.md
  apps/docs/docs/developers/javascript-package/generate-a-payment-link.md
  apps/docs/docs/user-guides/accept-a-donation.md
  apps/docs/docs/user-guides/accept-a-payment.md
  apps/docs/docs/user-guides/dashboard/analytics.md
  apps/docs/docs/user-guides/dashboard/overview.md
  apps/docs/docs/user-guides/make-a-donation.md
Labels: area: texts, area: app: docs

#105 Add more topics to the documentation. Add documentation links
  README.md
  apps/docs/docs/concepts/components/_category_.json
  apps/docs/docs/concepts/components/applications.md
  apps/docs/docs/concepts/components/contracts.md
  apps/docs/docs/concepts/components/services.md
  apps/docs/docs/concepts/overview.md
  apps/docs/docs/developers/contract-addresses.md
  apps/docs/docs/developers/deployed-contracts.md
  apps/docs/docs/developers/dotnet-package/api.md
  apps/docs/docs/developers/dotnet-package/generate-a-payment-link.md
  apps/docs/docs/developers/dotnet-package/set-up.md
  apps/docs/docs/developers/getting-started.md
  apps/docs/docs/developers/javascript-package/api.md
  apps/docs/docs/developers/javascript-package/generate-a-payment-link.md
  apps/docs/docs/developers/javascript-package/set-up.md
  apps/docs/docs/user-guides/accept-a-donation.md
  apps/docs/docs/user-guides/accept-a-payment.md
  apps/docs/docs/user-guides/dashboard/analytics.md
  apps/docs/docs/user-guides/dashboard/overview.md
  apps/docs/docs/user-guides/dashboard/working-with-operations.md
  apps/docs/docs/user-guides/introduction.md
  apps/docs/docs/user-guides/make-a-donation.md
  apps/docs/docusaurus.config.js
  apps/docs/sidebars.js
  apps/landing/package.json
  apps/landing/src/index.css
  apps/landing/src/index.html
Labels: area: common, area: texts, type: improvement, area: app: docs

#107 Update packages. Update bundles
  .eslintrc.json
  .github/workflows/common-js-package.yml
  .github/workflows/tezospayments-js-package.yml
  apps/dashboard-react-web/.eslintrc.json
  apps/dashboard-react-web/craco.config.ts
  apps/dashboard-react-web/package.json
  apps/demo-shop-next-js/package.json
  apps/landing/package.json
  apps/landing/webpack.config.js
  apps/payment-react-web/.eslintrc.json
  apps/payment-react-web/craco.config.ts
  apps/payment-react-web/package.json
  package-lock.json
  package.json
  packages/js/common/package.json
  packages/js/common/rollup.config.mjs
  packages/js/common/src/native/index.abstract.ts
  packages/js/common/src/native/index.browser.ts
  packages/js/common/src/native/index.node.ts
  packages/js/common/src/native/index.ts
  packages/js/common/src/signing/keyPairGenerators/ellipticCurveKeyGenerator.ts
  packages/js/react-web-core/.eslintrc.json
  packages/js/react-web-core/package.json
  packages/js/tezospayments/package.json
  packages/js/tezospayments/rollup.config.mjs
  scripts/react-web-core-craco.config.ts
  scripts/rollup.config.base.mjs
Labels: area: common, type: improvement, area: app: dashboard-react-web, area: app: demo-shop-next-js

#108 Update the packages structure. Update bundles. Migrate to react-scripts@5
  .eslintrc.json
  .github/workflows/common-js-package.yml
  .github/workflows/tezospayments-js-package.yml
  apps/dashboard-react-web/.eslintrc.json
  apps/dashboard-react-web/craco.config.ts
  apps/dashboard-react-web/package.json
  apps/demo-shop-next-js/package.json
  apps/landing/package.json
  apps/landing/webpack.config.js
  apps/payment-react-web/.eslintrc.json
  apps/payment-react-web/craco.config.ts
  apps/payment-react-web/package.json
  package-lock.json
  package.json
  packages/js/common/package.json
  packages/js/common/rollup.config.mjs
  packages/js/common/src/native/index.abstract.ts
  packages/js/common/src/native/index.browser.ts
  packages/js/common/src/native/index.node.ts
  packages/js/common/src/native/index.ts
  packages/js/common/src/signing/keyPairGenerators/ellipticCurveKeyGenerator.ts
  packages/js/react-web-core/.eslintrc.json
  packages/js/react-web-core/package.json
  packages/js/tezospayments/package.json
  packages/js/tezospayments/rollup.config.mjs
  scripts/react-web-core-craco.config.ts
  scripts/rollup.config.base.mjs
Labels: area: common, type: improvement
